fastapi
uvicorn
python-dotenv
langchain
langchain-community
langchain-openai
openai
PyMuPDF
tiktoken
PyPDF2
faiss-cpu
requests
pydantic
sentence-transformers
transformers
langchain-huggingface
